@-moz-document url("about:home"), url("about:newtab") {

	/* adapted from https://www.reddit.com/r/FirefoxCSS/comments/86r9yw/ */

	html > body {
		--newtab-element-hover-color: transparent !important;

		--newtab-section-header-text-color: white !important;
		--newtab-topsites-label-color: white !important;

		--newtab-inner-box-shadow-color: transparent !important;
		--newtab-card-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;

		--newtab-search-header-background-color: rgba(0, 0, 0, 0.5) !important;
		--newtab-border-secondary-color: transparent !important;
	}

	body {
		background: -moz-linear-gradient(138deg, rgb(88, 85, 158) 0%, rgb(141, 62, 146) 20%, rgb(187, 59, 75) 80%) !important;
		background-attachment: fixed !important;
		overflow-y: auto !important;
	}

	.SnippetBaseContainer {
		--newtab-snippets-background-color: rgba(0, 0, 0, 0.5) !important;
		color: white !important;
	}
}

@-moz-document url-prefix("") {
	* {
		scrollbar-color: rgba(127, 127, 127, 60%) rgba(0, 0, 0, 20%);
	}
}
